<h1>Clients</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cnpj</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Address</th>
        </tr> 
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Cnpj</td>
                <td>@client.Name</td>
                <td>@client.Email</td>
                <td>@client.Address</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>